<div class="container-fluid" id="header">
    <div class="row"><!--begin-box:opia25_tr_logos::1531:logos y buscador--><!--loc('* Código HTML libre dentro de la página.')-->
        <div class="container-fluid hidden-print" id="tr_logos_buscador">
            <div class="row ">

                <div class="col-lg-8 col-md-10 col-xs-9 logo-opia-header">
                    <a href="http://www.fia.cl/" title="Ir al sitio web FIA" class="logo-gob">
                        <img src="{% static 'images/logo_fia.webp' %}" alt="logo FIA" width="156" height="80">
                        <span class="sr-only">FIA Fundación para la Innovación Agraria - Ministerio de Agricultira Chile</span>
                    </a>
                    <a href="w3-channel.html" title="Ir al inicio del Observatorio" class="logo-opia-texto">
                        <img src="{% static 'images/logo_fundacion.webp' %}" alt="logo OPIA" width="500" height="80">
                        <span class="sr-only">Observatorio para la Innovación Silvoagropecuaria y la Cadena Agroalimentaria</span>
                    </a>
                </div>

                <div class="col-md-2 col-xs-3 col-navbar-toggle">
                    <button type="button" class="navbar-toggle opia collapsed" data-toggle="collapse" data-target="#navbar_2025">
                        <span></span>
                        <span></span>
                        <span></span>
                    </button>
                </div>

                <div class="col-lg-4 col-xs-12 tr-buscador">
                    <div id="tr_buscador">
                        <form name="searchForm" action="" onsubmit="doSearch(); return false;" class="buscador_portada">
                            <fieldset>
                                <legend title="buscador" class="hidden sr-only invisible oculto">Buscador general</legend>
                                <div class="input-group input-group-md">
                                    <label for="keywords" class="hidden  sr-only  invisible oculto">Buscar</label>
                                    <input class="form-control" id="keywords" type="text" name="keywords" value="" size="40" placeholder="BUSCAR">
                                    <span class="input-group-btn">
                                        <label for="boton_busqueda" class="hidden sr-only invisible oculto">Botón de búsqueda</label>
                                        <button type="submit" id="boton_busqueda" class="btn btn-link btn-xs" onclick="doSearch(); return false;"><i class="bi bi-search h3"></i></button>
                                    </span>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div><!--end-box--><!--begin-box-container:opia25_tr_menu_principal_CC::712:Muestra el header: logo y la navegación principal--><!--loc('Caja contenedora')-->
        <div class="navbar navbar-default collapse" id="navbar_2025">
            <div class="container-fluid" id="navbar_navbar_container">
                <div class="row">
                    <div class="navbar-collapse">

                        <ul class="nav navbar-nav navbar-left-2025"><!--pos=1--><!--begin-box:tr_menu_principal_2025_inicio::1781:- - --><!--loc('* Código HTML libre dentro de la página.')-->
                            
                            <li>
                                <a href="w3-channel.html" class="inicio-fia">
                                    <span class="fa fa-home"></span> <span class="texto-inicio">Inicio</span>
                                </a>
                            </li><!--end-box--><!--pos=2--><!--begin-box:tr_menu_principal_2025_secciones::1782:- - --><!--loc('* Lista de Valores de Clasificando')-->
                            
                            <li>
                                <a class="pnid-526 pv-pid-0 pvid-13904 cid-501" href="w3-propertyvalue-13904.html" title="Ir a Observatorio">Observatorio</a>
                            </li>
                            
                            <li class="current">
                                <a class="pnid-526 pv-pid-0 pvid-147024 cid-501" href="w3-propertyvalue-147024.html" title="Ir a VigiFIA">VigiFIA</a>
                            </li>
                            
                            <li>
                                <a class="pnid-526 pv-pid-0 pvid-13905 cid-501" href="w3-propertyvalue-13905.html" title="Ir a Oportunidades">Oportunidades</a>
                            </li>
                            
                            <li>
                                <a class="pnid-526 pv-pid-0 pvid-13913 cid-501" href="w3-propertyvalue-13913.html" title="Ir a Comunidad">Comunidad</a>
                            </li>
                            
                            <li>
                                <a class="pnid-526 pv-pid-0 pvid-13906 cid-501" href="w3-propertyvalue-13906.html" title="Ir a Actualidad">Actualidad</a>
                            </li>
                            
                            <li>
                                <a class="pnid-526 pv-pid-0 pvid-13914 cid-501" href="w3-propertyvalue-13914.html" title="Ir a Directorios">Directorios</a>
                            </li>
                            
                            <li>
                                <a class="pnid-526 pv-pid-0 pvid-71885 cid-501" href="w3-propertyvalue-71885.html" title="Ir a Base de Proyectos">Base de Proyectos</a>
                            </li>
                            
                            <li>
                                <a class="pnid-526 pv-pid-0 pvid-13908 cid-501" href="w3-propertyvalue-13908.html" title="Ir a Información de apoyo">Información de apoyo</a>
                            </li><!--end-box--><!--pos=3--><!--begin-box:tr_menu_principal_2025_catalogo::1780:- - --><!--loc('* Código HTML libre dentro de la página.')-->
                            
                            <li>
                                <a href="/613/w3-channel.html" class="acceso-catalogo" target="_blank" title="Ir al Catálogo de Soluciones Digitales"> Soluciones Digitales para el Agro 
                                    <i class="bi bi-box-arrow-up-right" aria-hidden="true"></i>
                                </a>
                            </li><!--end-box-->
                        </ul>

                        <ul class="nav navbar-nav navbar-right-2025"><!--pos=4--><!--begin-box:tr_menu_principal_2025_mipagina::1783:- - --><!--loc('* Código HTML libre dentro de la página.')-->

                            <li class="nav-item-mi-pagina">
                                <a href="/605/w3-propertyvalue-68264.html" class="mi-pagina">
                                    <span class="fa fa-user"></span> Mi página
                                </a>
                            </li><!--end-box--><!--pos=5--><!--begin-box:tr_menu_principal_2025_contacto::1784:- - --><!--loc('* Código HTML libre dentro de la página.')-->
                            
                            <li class="header-contacto">
                                <a href="w3-propertyvalue-46011.html" title="Contáctenos">
                                    <span class="texto-contacto">Contacto</span> 
                                    <span class="fa fa-envelope-o fa-lg"></span>
                                </a>
                            </li><!--end-box-->
                        </ul>
                    </div>
                </div>
            </div>
        </div><!--end-box-->
    </div> 
</div>




